/*Start writing sass here*/

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";
@include font-face("PF", "../fonts/PlayfairDisplay");
//@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
$pf: "PlayfairDisplay";
$btn: #e4861f;
$nav-head: #e4861f;
$nav-color: #87919a;
$head-color: #3d4348;
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    //    .transition(all 1s ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

h1 {
    color: pink;
}

a:hover {
    text-decoration: none;
}

ul {
    li {
        list-style-type: none;
    }
}

.fifty {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

.img-holder {
    margin: 10px auto;
}

.mg30 {
    margin: 30px 0;
}

.mg50 {
    margin: 50px 0;
}

//header
header {
    padding: 25px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    nav {
        .hamburger {
            float: right;
            .icon-bar {
                width: 25px;
                height: 3px;
                margin: 5px;
                display: block;
                background: #3d4348;
            }
        }
        .hideme {
            width: 350px;
            padding: 45px;
            position: absolute;
            right: 0;
            top: 0;
            background: #192025;
            z-index: 99991;
            ul {
                padding: 0;
                li {
                    position: relative;
                    &:after {
                        content: " ";
                        width: 0;
                        height: 1px;
                        display: block;
                        position: absolute;
                        background: $nav-head;
                        bottom: 0;
                        left: 100%;
                        @include transition(all 800ms linear);
                    }
                    &:hover:after {
                        width: 100%;
                        left: 0;
                        @include transition(all 800ms linear)
                    }
                    a {
                        border-bottom: 1px solid $nav-color;
                        padding: 16px 10px;
                        display: block;
                        color: $nav-color;
                        font-size: 17px;
                        text-align: right;
                        text-transform: capitalize;
                        &:hover {
                            color: $nav-head;
                            @include transition(all 500ms ease-in-out);
                        }
                    }
                }
            }
            .exit {
                text-align: right;
                i {
                    color: $nav-color;
                    font-size: 16px;
                    &:hover {
                        color: $nav-head;
                    }
                }
            }
        }
    }
}

.social-icon {
    clear: both;
    margin-top: 40px;
    ul {
        padding: 0;
        li {
            margin-left: 6px;
            display: inline-block;
            a {
                width: 30px;
                height: 30px;
                line-height: 29px;
                display: block;
                text-align: center;
                border-radius: 100%;
                &:hover {
                    color: #fff;
                    @include transition(all 500ms linear);
                }
            }
            .fb {
                color: #3b5998;
                border: 2px solid #3b5998;
                &:hover {
                    background-color: #3b5998;
                }
            }
            .twi {
                color: #00aced;
                border: 2px solid #00aced;
                &:hover {
                    background-color: #00aced;
                }
            }
            .you {
                color: #bb0000;
                border: 2px solid #bb0000;
                &:hover {
                    background-color: #bb0000;
                }
            }
        }
    }
}

//main 
.down-arrow {
    position: absolute;
    z-index: 99999;
    left: 50%;
    bottom: 4%;
    @include transform(translate(-50%, 4%));
    a {
        width: 30px;
        height: 30px;
        border: 2px solid $nav-head;
        border-radius: 100%;
        display: block;
        position: relative;
        color: $nav-head;
        line-height: 30px;
        text-align: center;
        &:after {
            content: "";
            width: 20px;
            border: 1px dotted $nav-head;
            display: block;
            position: absolute;
            bottom: -12px;
            left: 3px;
            @include transform(rotate(90deg));
        }
    }
}

.get-in {
    @include transform(translateX(250px));
    @include transition(all 800ms ease-in-out); 
}
.get-out {
    @include transform(translateX(0));
    @include transition(all 800ms ease-in-out);
}

//.img-holder {
//    position: relative;
//    height: 400px;
//    img {
//        @extend .fifty;
//        max-height: 100%;
//    }
//}
button.page-btn {
    border: 1px solid $btn;
    border-radius: 0;
    padding: 5px 15px;
    margin: 20px 0;
    color: $btn;
    font-size: 16px;
    letter-spacing: 3px;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 $btn;
    @include transition(all 600ms linear);
    &:hover {
        color: #fff;
        box-shadow: inset -200px 0 0 0 $btn;
        @include transition(all 600ms linear);
    }
}

//slider
.slider {
    .flexslider {
        border: none;
        margin: 0;
    }
    .flex-direction-nav a {
        line-height: 40px;
    }
    .flex-direction-nav .flex-next {
        right: 10px;
    }
    .flex-direction-nav .flex-prev {
        left: 10px;
    }
    .flex-control-nav {
        bottom: 50px;
    }
}

section {
    padding: 60px 0;
    position: relative;
    min-height: 500px;
    text-align: right;
    .head {
        color: $head-color;
        margin-bottom: 25px;
        font-size: 90px;
        font-family: $pf;
        line-height: 85px;
        text-transform: capitalize;
    }
    .imp-txt {
        margin: 20px 0;
        font-size: 30px;
        line-height: 33px;
    }
}

.nopd {
    padding: 0;
}

.bggrey {
    background: #4b5e62;
    .head {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

//contact
.cont {
    form {
        input {
            border-radius: 0;
            margin: 20px 0;
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: $btn;
            }
            &:hover {
                border: 1px solid $btn;
            }
        }
        textarea {
            min-height: 150px;
            border-radius: 0;
            margin: 20px 0;
            resize: none;
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: $btn;
            }
            &:hover {
                border: 1px solid $btn;
            }
        }
    }
    button.page-btn {
        margin: 0;
    }
}

//team
.team-mate {
    .team-item {
        .team-img-holder {
            position: relative;
            &:hover img {
                opacity: .5;
            }
            &:hover .img-hover {
                display: block;
            }
            .img-hover {
                display: none;
                @extend .fifty;
                .social-icon {
                    margin: 0;
                }
            }
        }
        .team-info {
            .name {
                margin: 25px 0 10px;
                font-size: 21px;
                text-align: center;
            }
            .info {
                text-align: center;
            }
        }
    }
}

//rating
.work {
    li {
        margin-bottom: 30px;
    }
    .progress-bar {
        background-color: $btn;
    }
    .rate {
        height: 3px;
        border-radius: 0;
        margin: 0;
        overflow: visible;
    }
    .rate-info {
        margin: 10px 0;
        text-align: left;
        span {
            float: right;
        }
    }
    .wd95 {
        width: 95%;
    }
    .wd90 {
        width: 90%;
    }
    .wd85 {
        width: 85%;
    }
    .wd80 {
        width: 80%;
    }
}

//areas
.img-hold-area {
    position: relative;
    height: 400px;
    &:hover .img1 {
        @include filter(blur(10px));
        @include transition(all 800ms linear);
    }
    .img1 {
        @include transition(all 800ms linear);
    }
    .img2 {
        @extend .fifty;
        @include transition(all 800ms linear)
    }
}

//blog
.blog-info {
    min-height: 178px;
    padding: 20px;
    margin: 10px 0;
    background: #EFEFEF;
    color: $head-color;
    text-align: left;
    h6 {
        font-size: 20px;
    }
    p {
        color: inherit;
    }
    .title {
        font-size: 22px;
    }
}